/* CSS files add styling rules to your content */
#wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:100px 100px 100px ;
  grid-gap:10px;
}


body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff
}
#card1{
  padding-left:400px;
}
    
